<article class="post row" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
  <header class="small-12 columns">
    <h1 itemprop="name"><a href="{{slugify relativeLink}}" itemprop="url">{{data.title}}</a></h1>
    <div class="info">
      <time datetime="{{moment data.date format="YYYY-MM-DD"}}" class="date" itemprop="datePublished">{{moment data.date format="MMMM DD, YYYY"}}</time>
    </div>
  </header>
  <section class="content small-12 columns" itemprop="articleBody">
    {{#if data.lead}}<p class="lead">{{{data.lead}}}</p>{{/if}}
    {{#markdown}}
      {{{page}}}
    {{/markdown}}
  </section>
</article>
